

.header{
	/*color: #ffffff;*/
}

/*#ourmenu{
	text-align: center;
}*/
#box1, #box2,#box3{
	color: black;
	padding: 10px;
	text-align: justify;
	font-size: 16px;
	margin: 10px;
}
#box1{
	background-color: #8899dd;
}
#box2{
	background-color: #00ff55;
}
#box3{
	background-color: #e97600;
}
/* #Chicken,#Beef ,#Sushi{
	text-align: center;
}  */

