



body{

	background-image: url("../img/backery.jpg");
	background-color: #cccccc;
	font-family: 'Salsa', cursive;
	color: #000000;
	line-height: 1.5;
}


#menu{
	color: #bbbbbb;
}
#box1, #box2,#box3{
	
	opacity: 0.75;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 15px; 
	font-size: 24px;
}
#box1{
	background-color:#e97722 ;
}
#box2{
	background-color:#aa99ff ;
}
#box3{
	background-color: #00ff55;
}
a:hover{

	background-color: #ffffff;
	color: #000000;
}
li:hover {
  background-color: #cccccc;
    
}
.navbar {
	 

}
